@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
* {
	font-family: 'Poppins', sans-serif;
	
}

/* AWAL DARK MODE */
.dark-mode {
	background-color: #041C32;
	color: #F7F5F2;
  }

.navbar button{
	background-color: #0D6EFD;
	border-radius: 10px;
	border-color: transparent;
	color: #F7F7F7;
}

/* AKHIR DARK MODE */

/* AWAL CAROUSEL */
.carousel-item {
	max-height: 100vh;
	min-height: 300px;
}

.carousel-caption { 
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
/* AKHIR CAROUSEL */

/* AWAL ABOUT */
.section-padding {
	padding: 100px 0;
}
/* AKHIR ABOUT */


/* AWAL PORTOFOLIO */
.lead{
	font-size:15px;
}
/* AKHIR PORTOFOLIO */

/* AWAL TEAM */
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
/* AKHIR TEAM */

/* AWAL RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
/* AKHIR RESPONSIVE */