@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
* {
	font-family: 'Poppins', sans-serif;
}

/* AWAL CAROUSEL */
.carousel-item {
	max-height: 100vh;
	min-height: 300px;
}

.carousel-caption { 
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
/* AKHIR CAROUSEL */

/* AWAL ABOUT */
.section-padding {
	padding: 100px 0;
}
/* AKHIR ABOUT */

/* AWAL PORTOFOLIO */
.lead{
	font-size:15px;
}
/* AKHIR PORTOFOLIO */

/* AWAL TEAM */
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
/* AKHIR TEAM */
